@import 'tailwindcss';

@theme {
  --animate-fadeCycle: fadeIn infinite;
  --animate-fadeTip: fadeInOut 4s ease forwards;
  --animate-logoIn: slideUpIn 1s ease forwards;

  @keyframes fadeIn {
    0%,
    40% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20%,
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideUpIn {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.slider {
  --emerald-400: #34d399;
  --neutral-900: #171717;

  width: 100%;
  appearance: none;
  background-color: transparent;
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 999px;
  background-color: var(--neutral-900);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  cursor: grab;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    var(--emerald-400) 30%,
    var(--neutral-900) 60%,
    var(--emerald-400) 70%
  );
  transform: translateY(-11px);
  outline: 1px solid var(--emerald-400);
  outline-offset: 4px;
}

.slider::-webkit-slider-thumb:active {
  cursor: grabbing;
}

::-webkit-scrollbar {
  @apply w-[6px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-emerald-500;
}

.button {
  @apply relative inline-block bg-neutral-800/50 text-center text-lg font-bold text-emerald-500 uppercase backdrop-blur-xs duration-200 after:absolute after:right-0 after:bottom-0 after:left-0 after:z-0 after:block after:bg-emerald-500 after:duration-200;
}

.button--toggle {
  @apply hover:text-neutral-900 hover:after:top-0 hover:after:h-full active:text-neutral-900 active:after:top-0 active:after:h-full;
}

.button--checkbox {
  @apply peer-checked:text-neutral-900 peer-checked:after:top-0 peer-checked:after:h-full hover:bg-neutral-700/50 active:after:top-[calc(100%-20%)] active:after:h-[20%] peer-checked:active:after:top-[calc(100%-80%)] peer-checked:active:after:h-[80%];
}

.button--icon {
  @apply p-2 after:top-[calc(100%-2px)] after:h-[2px];
}

.button--text {
  @apply px-3 after:top-[calc(100%-1px)] after:h-[1px];
}

.primary-btn-clr {
  @apply text-emerald-500 after:bg-emerald-500;
}

.secondary-btn-clr {
  @apply text-purple-400 after:bg-purple-400;
}

.gradient-bg {
  @apply bg-linear-to-r from-slate-900/80 from-30% to-cyan-900/60 hover:from-slate-900/100 hover:to-cyan-700/80;
}

.border-bottom {
  @apply border-b-2 border-emerald-400;
}

.main-container {
  @apply border-1 border-emerald-900 bg-slate-950/50 p-6 text-emerald-400 backdrop-blur-xs;
}

.title {
  @apply max-w-96 text-3xl font-bold text-white sm:text-4xl;
}
